.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-text {
    font-size: medium;
    color: #666;
}

.button-container {
    display: flex;
    color: white;
    flex-direction: column; /* Arrange buttons vertically */
    align-items: center; /* Center buttons horizontally */
     /*gap: 10px; Space between buttons */
    background-color: black;
    height: 70vh;
    width: 45vh;
    border-radius: 10px;
}

.button-option {
    background-color: #000000; /* Button background color */
    color: rgb(218, 219, 219);
    padding: 0px 0px;
    margin-bottom: 10%;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none; /* Remove underline from the link */
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    width: 100%; /* Make buttons full-width */
    max-width: 200px; /* Limit max width */
}

.button-option:hover {
    transform: scale(1.05);
    background-color: #9c9c9c; /* Change background color on hover */
}
  
  




